:root {
  --main-font: "PT Sans", sans-serif;
  --primary-color: rgb(243 243 51/ 70%);
  --secondary-color: rgb(255 255 254 / 86%);
  --tertiary-color: rgb(48 44 90);
  --main-background-color: rgb(48 44 90 / 95%);
}
body {
  font-family: var(--main-font);

  color: var(--primary-color);
  background-color: var(--main-background-color);
  position: relative;
}

/* Navbar and Hero */
/* nav {
  margin: 0 0 !important;
}
.navbar {

  width: fit-content;
  z-index: 1;
  margin-left: 1em !important;
} */

/* #toggleMobileMenu {
  z-index: 10;
} */
#nav-link {
  /* background-color: rgba(97, 94, 94, 0.132); */
  color: var(--primary-color);
  font-size: 25pt;
  font-weight: bolder;
  /* z-index: 1;
  position: absolute; */
}
.nav-link {
  color: white !important;
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
}
@media (max-width: 990px) {
  .nav-link {
    background-color: rgba(79, 79, 79);
  }
}
@media (min-width: 991px) {
  .nav-link {
    font-size: 35pt;
  }
}

.navbar.scrolled {
  visibility: hidden !important;
}

.navbar a:hover {
  transform: scale(1.2);
  background-color: var(--main-background-color);
}

@media (min-width: 992px) {
  .navbar {
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  .navbar {
    background-color: transparent;
  }
}

@media (max-width: 399px) {
  .navbar-nav .nav-link {
    margin: 0px 5px !important;
    text-align: center !important;
  }
}

@media (min-width: 400px) {
  .navbar-nav .nav-link {
    text-align: center !important;
    margin: 0px 30px !important;
  }
}

@media (min-width: 991px) {
  .navbar-nav .nav-link {
    padding-right: 30px !important;
    margin: 0px 5px !important;
  }
}
/* .hamburger:hover {
  position: relative;
} */

#navbarToggler {
  /* padding: 0%;  */
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.54);
  box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.54);
  border: 0.2em solid rgba(187, 187, 14, 0.171);
}

/* #menu {
  border: 0.2em solid rgba(187, 187, 14, 0.171);
} */

#heroDisplay {
  background-color: var(--main-background-color);
  margin: 150px 0 0 !important;
  height: 100%;
  -webkit-box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.54);
  box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.54);
  /* border: 0.1em solid rgb(243 243 51/ 30%); */
}
@media (max-width: 500px) {
  #heroContainer {
    padding-right: 1.2em !important;
    padding-left: 1.2em !important;
  }
}

@media (min-width: 749px) {
  #heroContainer {
    margin-top: 0em !important;
  }
}
@media (min-width: 768px) {
  #heroDisplay {
    margin: 150px 0 -25px !important;
    padding-top: 2em;

    height: 92% !important;
  }
}

/* @media (min-width: 1050px) {
  #heroContainer {
    padding-right: 10em !important;
    padding-left: 10em !important;
  }
} */
#name {
  font-family: var(--main-font);
  font-size: 4em;
  color: var(--secondary-color);
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
  word-wrap: break-word;
}

@media (max-width: 399px) {
  #name {
    font-size: 2.5em;
    margin-top: 1em !important;
    margin-bottom: 0.25em !important;
  }
}
@media (min-width: 400px) {
  #name {
    font-size: 2.8em;
    margin-top: 1em !important;
    margin-bottom: 0.25em !important;
  }
}
@media (min-width: 768px) {
  #name {
    font-size: 3.5em;
    margin-top: 0 !important;
  }
}
/* @media (min-width: 800px) {
  #name {
    font-size: 4em;
    margin-bottom: 0 !important;
  }
} */
#career-title {
  font-family: var(--main-font);
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
  color: var(--primary-color);
  word-wrap: break-word;
}

@media (max-width: 399px) {
  #career-title {
    font-size: 16pt;
    margin-bottom: 0.25em !important;
  }
}
@media (min-width: 400px) {
  #career-title {
    font-size: 1.5em;
    margin-bottom: 0em !important;
  }
}
/* @media (min-width: 800px) {
  #career-title {
    font-size: 2em;
    margin-bottom: 0em !important;
  }
} */

#quote {
  font-family: var(--main-font);
  font-size: large;
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
  color: var(--secondary-color);
}
@media (max-width: 749px) {
  #quote {
    padding: 0 1em;
    margin: 8px 0 0px !important;
  }
}
@media (min-width: 750px) {
  #quote {
    padding: 0 1.5em !important;
    margin: 3px 0 0px !important;
  }
}
/* @media all and (min-width: 750px), (max-width: 800px) {
  #quote {
    padding: 0 7em;
  }
} */

.background-img {
  background-image: url("./assets/jordan-whitt-D8M2oUAcZ-w-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  width: 100vw;
  top: 0;

  height: 100vh;
  margin-right: 0 !important;
  margin-left: 0 !important;
  -webkit-box-shadow: 0px 13px 14px -10px rgba(79, 79, 79, 0.3);
  box-shadow: 0px 13px 14px -10px rgba(79, 79, 79, 0.3);
}

h1 {
  color: var(--secondary-color);
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
}

h4 {
  color: var(--primary-color);
  text-shadow: 3px 3px 5px rgb(58, 54, 54);
}

h5 {
  color: var(--secondary-color);
}
.about-text h4 {
  text-indent: 5%;
  hyphens: auto;
}

.about-text h5 {
  text-indent: 5%;
  hyphens: auto;
}

@media (max-width: 399px) {
  .about-text {
    padding: 0 0 !important;
  }
}

/* #about-me {
  -webkit-box-shadow: 0px 0px 26px -2px rgba(79, 79, 79, 0.5);
  box-shadow: 0px 0px 26px -2px rgba(79, 79, 79, 0.3);
} */
#aboutMeImg {
  width: 35%;
  height: 75%;
  border-radius: 50%;
  /* border: 0.01em solid var(--secondary-color); */
  -webkit-box-shadow: 0px 0px 21px -2px rgba(79, 79, 79, 0.55);
  box-shadow: 0px 0px 21px -2px rgba(79, 79, 79, 0.55);
  /* margin-top: 4%; */
}

@media (min-width: 768px) {
  #aboutMeImg {
    width: 25%;
    height: 23%;
  }
}
#skills {
  color: var(--secondary-color);
}

#resume {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-shadow: 1.5px 1.5px 1.2px rgb(58, 54, 54);
  /* border: 0.01em solid var(--secondary-color); */
  font-size: large;
  font-weight: bold;
  -webkit-box-shadow: -2px -7px -10px -1px rgb(182, 171, 171);
  box-shadow: -2px -7px -10px -10px rgb(182, 171, 171);
}
#resume:hover {
  background-color: var(--primary-color);
}

#portfolio {
  margin: 0 20px;
}
a > span {
  display: none;
}

a:hover > span {
  display: block;
  position: absolute;
}
/* .card-text {
  position: fixed;
} */
.portImg {
  height: 30%;
  width: 30%;
}
.projectLink:hover .portImg {
  visibility: visible;
}
/* Form Stuff */
#fs-frm {
  display: flex;
  flex-direction: column;
}
hr {
  width: 29%;
  height: 5%;
  border: 0.03em solid black;
  -webkit-box-shadow: 0px 10px 17px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 17px 2px rgba(0, 0, 0, 0.36);
}
.contactText {
  height: 2px;
  border: none;
}
.contactMeForm {
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.35);
  box-shadow: 0px 2px 8px 6px rgba(79, 79, 79, 0.3);
  width: 60%;
  /* border: 1px solid; */
}
#footer {
  -webkit-box-shadow: 0px -10px 14px -10px rgba(79, 79, 79, 0.44);
  box-shadow: 0px -10px 14px -10px rgba(79, 79, 79, 0.44);
}
#submit {
  width: fit-content;
}
.fa-github {
  color: black;
}
